body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents left/right scroll */
}
